*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 244, 243);
    font-family: Arial, Helvetica, sans-serif ;
}

 /** Menu START **/
nav{    
    margin: 0;
    padding: 0rem;
    border: 0rem;
    background-color: #312f2fda;
    height: 4rem;
    width: 100%;
    display: flex; 
    position: fixed;
    top: 0; 
    width: 100%; 
    position: absolute;
}
#logo{
    background-color: white;
    display: inline-block;
    height: 5rem;
    margin: 1.5rem 0 auto 0;
    padding: 0;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0.1rem 0.13rem rgb(172, 169, 169);
    transition: 0.3s;  
    position: absolute;
}
#logo:hover{
    background-color: greenyellow;
    cursor: pointer;
}
li{
    display: inline-block;
    margin: 1rem -5rem 0 8rem;
    text-align: center;
    color: rgb(247, 242, 242);
    font-size: 1.5rem;
}
li:hover{
    color: greenyellow;
    cursor: pointer;
}
#om-oss{
    margin: 1rem 1rem 0 6rem
}
/** Menu END **/

#background-pic{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/** Price START**/
#img-section{
    width: 100%;
    display: flex;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 2rem 0 0 0;
}
h1{
    margin: 5rem 0 0 2rem;
}
.img-box{
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(168, 106, 106, 0.2);
    padding: 0rem;
    margin: 0 2.5rem 2.5rem 2.5rem;
   
}
.img-box:hover{
    border: 0.09rem black solid;
    cursor: pointer;
}
.img-holder{
    position: relative;
    text-align: center;
    color: black;
}
.price-text{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 1.2rem;
}
/** Price END**/

/** Video START**/
.imbeded-video{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 80%;
    border-radius: 0.8rem;
    padding: 1rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(168, 106, 106, 0.2);
    margin: 2rem auto 0 auto;
}
/** Video END**/

/** Footer START**/
footer{
    width: 100%;
    height: 200px;
    background-color: #312f2fda;
    margin: 5rem 0 0 0;
}
.footer-text{
    font-size: 1rem;
    margin: 0;
    padding: 0.4rem;
}

/** Footer END**/