*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 244, 243);
    font-family: Arial, Helvetica, sans-serif ;
}

 /** Menu START **/
nav{    
    margin: 0;
    padding: 0rem;
    border: 0rem;
    background-color: #312f2fda;
    height: 4rem;
    width: 100%;
    display: flex; 
    position: absolute;
}
#logo{
    background-color: white;
    display: inline-block;
    height: 5rem;
    margin: 1.5rem 0 auto 0;
    padding: 0;
    border-radius: 0 2rem 2rem 0;
    box-shadow: 0.1rem 0.13rem rgb(172, 169, 169);
    transition: 0.3s;  
    position: absolute;
}
#logo:hover{
    background-color: greenyellow;
    cursor: pointer;
}
.hidden{
    display: none;
}
.nav-lista{
    display: inline-block;
    margin: 1rem -5rem 0 8rem;
    text-align: center;
    color: rgb(247, 242, 242);
    font-size: 1.5rem;
}
.nav-lista:hover{
    color: greenyellow;
    cursor: pointer;
}
/** Menu END **/

#background-pic{
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

/** Price START**/
#img-section{
    width: 100%;
    display: flex;
    justify-content: center;
    display: inline-flex;
    flex-wrap: wrap;
    margin: 2rem 0 0 0;
}
h1{
    margin: 5rem 0 0 2rem;
}
.img-box{
    border-radius: 0.8rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(168, 106, 106, 0.2);
    padding: 0rem;
    margin: 0 2.5rem 2.5rem 2.5rem;
   
}
.img-box:hover{
    border: 0.09rem black solid;
    cursor: pointer;
}
.img-holder{
    position: relative;
    text-align: center;
    color: black;
}
.price-text{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -20%);
    font-size: 1.2rem;
}
/** Price END**/

/** Video START**/
.imbeded-video{
    display: flex;
    justify-content: center;
    height: 600px;
    width: 80%;
    border-radius: 0.8rem;
    padding: 1rem;
    box-shadow: 0 0.4rem 0.8rem 0 rgba(168, 106, 106, 0.2);
    margin: 2rem auto 0 auto;
}
/** Video END**/

/** Footer START**/
footer{
    width: 100%;
    height: 10rem;
    background-color: #312f2fda;
    margin: 2rem 0 0 0;
    padding: 1rem 0 0 0;
    color: rgb(247, 242, 242);
    font-size: 1rem;
}
footer > ul {
    text-align: center;
}
/** Footer END**/

/** Phone(500px or less) START**/
@media only screen and (max-width: 500px){
    nav{
        height: 0;
        width: 0;
    }
    #logo{
        background-color: white;
        display: inline-block;
        height: 5rem;
        display: flex;
        flex-direction: flex-end;
        margin: -2rem 0 0 17rem;
        padding: 0;
        border-radius: 1rem 0rem 1rem 0rem;
        box-shadow: 0.1rem 0.13rem rgb(172, 169, 169);  
        position: absolute;
        transition: 0ms;
    }
    body{
        margin: 0;
        padding: 0;
        /*background: #232323;*/
        /*color: #cdcdcd;*/
        font-family: "Avenir Next", "Avenir", sans-serif;
    }
    #menuToggle{
        display: block;
        position: relative;
        top: 50px;
        left: 50px;

        z-index: 1;
        -webkit-user-select: none;
        user-select: none;
    }
    #menuToggle a{
        text-decoration: none;
        color: #232323;
        transition: color 0.3s ease;
    }
    #menuToggle input{
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        opacity: 0;
        z-index: 2;
        -webkit-touch-callout: none;
    }
    #menuToggle span{
        display: block;
        width: 33px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        
        background: #cdcdcd;
        border-radius: 3px;
        
        z-index: 1;
        
        transform-origin: 4px 0px;
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                    opacity 0.55s ease;
    }
    #menuToggle span:first-child{
        transform-origin: 0% 0%;
    }
    #menuToggle span:nth-last-child(2){
        transform-origin: 0% 100%;
    }
    #menuToggle input:checked ~ span{
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }
    #menuToggle input:checked ~ span:nth-last-child(3){
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }
    #menuToggle input:checked ~ span:nth-last-child(2){
        transform: rotate(-45deg) translate(0, -1px);
    }
    #menu{
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;
        
        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing: antialiased;
        transform-origin: 0% 0%;
        transform: translate(-100%, 0);
        
        transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    }
    #menu li{
        padding: 10px 0;
        font-size: 22px bold;
        color: black;
    }
    #menuToggle input:checked ~ ul{
        transform: none;
    }

    .imbeded-video{
        height: 300px;
    }
}

@media only screen and (max-width: 400px){
    #logo{
        margin: -2rem 0 0 14rem;
    }
}

@media only screen and (max-width: 350px){
    #logo{
        margin: -2rem 0 0 10rem;
    }
}
/** Phone (500px or less) END**/